In [29]:
import pandas as pd
import numpy as np
df=pd.read_csv('Search_report_10_10.csv')

#Rename Search term column
df.rename(columns = {'Search Term (evar18)':'Search Term'}, inplace = True)


#Change the Search term to String from Object
df['Search Term']=df['Search Term'].values.astype('str')

#Create a blank boolean column asc to hold the true false results from .isascii function
df["asc"]=np.nan
df["asc"]=df["asc"].astype('boolean')

#Check if a search term has values within ascii limits. If not set asc=false
for i in df.index:
    b=df['Search Term'].iloc[i].isascii()
    df['asc'].iloc[i]=b
    
#Count # of true and false values within asc col.
display(df['asc'].value_counts())

#Export the clean and the garbage file
df1=df.loc[df['asc'] == False]
df1.to_csv('Garbage file')

df2=df.loc[df['asc'] == True]
df2.to_csv('Clean file')

True     263183
False      2395
Name: asc, dtype: Int64

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('Search_report_10_10.csv')

In [2]:
df

       Search Term (evar18)  Search (event6)
0                       NaN            38940
1                         !                2
2                    ! ) un                2
3                       ! j                1
4                       !!!                1
...                     ...              ...
265573                   ðŸ§…ðŸ§„                1
265574                    ðŸ§¡                2
265575                    ðŸ§¤                2
265576                    ðŸ§³                1
265577                    ðŸª”                2

[265578 rows x 2 columns]

In [3]:
#Rename Search term column
df.rename(columns = {'Search Term (evar18)':'Search Term'}, inplace = True)

In [10]:
df

       Search Term  Search (event6)
0              NaN            38940
1                !                2
2           ! ) un                2
3              ! j                1
4              !!!                1
...            ...              ...
265573          ðŸ§…ðŸ§„                1
265574           ðŸ§¡                2
265575           ðŸ§¤                2
265576           ðŸ§³                1
265577           ðŸª”                2

[265578 rows x 2 columns]

In [18]:
df['Search Term'].dtype

dtype('O')

In [19]:
#Create a blank boolean column asc to hold the true false results from .isascii function
df["asc"]=np.nan
df["asc"]=df["asc"].astype('boolean')

In [20]:
df

       Search Term  Search (event6)   asc
0              NaN            38940  <NA>
1                !                2  <NA>
2           ! ) un                2  <NA>
3              ! j                1  <NA>
4              !!!                1  <NA>
...            ...              ...   ...
265573          ðŸ§…ðŸ§„                1  <NA>
265574           ðŸ§¡                2  <NA>
265575           ðŸ§¤                2  <NA>
265576           ðŸ§³                1  <NA>
265577           ðŸª”                2  <NA>

[265578 rows x 3 columns]

In [22]:
#Change the Search term to String from Object
df['Search Term']=df['Search Term'].values.astype('str')
#Check if a search term has values within ascii limits. If not set asc=false
for i in df.index:
    b=df['Search Term'].iloc[i].isascii()
    df['asc'].iloc[i]=b

In [23]:
df

       Search Term  Search (event6)    asc
0              nan            38940   True
1                !                2   True
2           ! ) un                2   True
3              ! j                1   True
4              !!!                1   True
...            ...              ...    ...
265573          ðŸ§…ðŸ§„                1  False
265574           ðŸ§¡                2  False
265575           ðŸ§¤                2  False
265576           ðŸ§³                1  False
265577           ðŸª”                2  False

[265578 rows x 3 columns]

In [24]:
#Count # of true and false values within asc col.
display(df['asc'].value_counts())

True     263183
False      2395
Name: asc, dtype: Int64